
#cabecera { 
    height: 60px;
    border: 1px red ridge;
    color: red;
    font-size: 15px;
    text-align: center;   
    font-family: Georgia, 'Times New Roman', Times, serif
}
#menu { 
    height: 500px;
    border: 1px blueviolet ridge;
    float: left;
    width: 18%; 
}
.principal { 
    height: 500px;
    border: 1px blue ridge;
    float: left;
    width: 50%;
}
.secundario {
    height: 500px;
    border: 1px saddlebrown ridge;
    float: left;
    width: 31.5%;
}
.pie {
    height: 40px;
    border: 1px black ridge;
    clear: both;
}