
#cabecera { 
    height: 60px;
    border-width: 1px; 
    border-color:red;
    border-style: ridge;
    font-size: 15px;
    text-align: center;   
    font-family: Georgia, 'Times New Roman', Times, serif
}
#menu { 
    height: 500px;
    border: 1px blueviolet ridge;
    float: left;
    width: 18%; 
    -webkit-border-radius: 20px;
    background-color:wheat;
}
.principal { 
    height: 500px;
    border: 1px blue ridge;
    float: left;
    width: 50%;
}
.secundario {
    height: 500px;
    border: 1px saddlebrown ridge;
    float: left;
    width: 31.5%;
}
h2, h3{
    color: tomato;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

p span{
    color:teal;
}

.pie {
    height: 40px;
    border: 1px black ridge;
    clear: both;
}

/* visited link */
a:visited {
    color: #0000FF;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #FF0000;
  }

