
    #cabecera{
        border: 1px blueviolet ridge;
        text-align: center;   
        font-family: Georgia, 'Times New Roman', Times, serif
    }

    #menu {
        border: 1px aqua ridge;
        float: left;
        width: 30%; 
    }

    .contenido {
        border: 1px blue ridge;
        float: left;
        width: 62%; 
    }
    
    #pie {
        border: black ridge;
        clear: both;
    }

